{% extends "main.html" %}

{% block content %}
<div class="text-center">
    <h1 style="color:gold">Вход в игру</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p style="color: gold">
            {{ form.key.label }}<br>
            {{ form.key(class="form-control", style="""text-align:center;
                                                                      border: none;
                                                                      border-bottom: 2px solid gold;
                                                                      width: 50%;
                                                                      margin-right: 25%;
                                                                      margin-left: 25%;
                                                                      background: transparent;
                                                                      color: gold;
                                                                      outline:none;""") }}<br>
            {% for error in form.key.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.create(type="submit", class="btn btn-primary", style="""text-align:center;
                                                                      border: 2px solid gold;
                                                                      width: 50%;
                                                                      margin-right: 25%;
                                                                      margin-left: 25%;
                                                                      background: transparent;
                                                                      color: gold;
                                                                      outline:none;""") }}</p>
    </form>
</div>
{% endblock %}