{% extends "main.html" %}
{% block content %}
<div class="text-center">
    <h1 style="color:gold">Создать Вопрос</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p style="color:gold">
            {{ form.question.label }}<br>
            {{ form.question(class="form-control", style="""text-align:center;
                                                                      border: none;
                                                                      border-bottom: 2px solid gold;
                                                                      width: 50%;
                                                                      margin-right: 25%;
                                                                      margin-left: 25%;
                                                                      background: transparent;
                                                                      color: gold;
                                                                      outline:none;""") }}<br>
            {% for error in form.question.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p style="color:gold">
            {{ form.answer.label }}<br>
            {{ form.answer(class="form-control", style="""text-align:center;
                                                                      border: none;
                                                                      border-bottom: 2px solid gold;
                                                                      width: 50%;
                                                                      margin-right: 25%;
                                                                      margin-left: 25%;
                                                                      background: transparent;
                                                                      color: gold;
                                                                      outline:none;""") }}<br>
            {% for error in form.answer.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p style="color:gold">
            {{ form.image(class="form-control", style="""text-align:center;
                                                                      border: none;
                                                                      border-bottom: 2px solid gold;
                                                                      width: 50%;
                                                                      margin-right: 25%;
                                                                      margin-left: 25%;
                                                                      background: transparent;
                                                                      color: gold;
                                                                      outline:none;""") }}<br>
            {% for error in form.image.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.is_private() }} {{ form.is_private.label }}</p>
        <p>{{ form.create(type="submit", class="btn btn-primary", style="""text-align:center;
                                                                      border: 2px solid gold;
                                                                      width: 50%;
                                                                      margin-right: 25%;
                                                                      margin-left: 25%;
                                                                      background: transparent;
                                                                      color: gold;
                                                                      outline:none;""") }}</p>
        <div>{{ message }}</div>
    </form>
{% if erore != '' %}
    <div class="alert alert-danger">
                      {{ erore }}
        </div>
</div>
{% endif %}
{% endblock %}
