{% extends "main.html" %}
{% block content %}
    <div class="text-center">
    <h1 style="color:gold">Создать Игру</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p style="color:gold">
            {{ form.title.label }}<br>
            {{ form.title(class="form-control", style="""text-align:center;
                                                                      border: none;
                                                                      border-bottom: 2px solid gold;
                                                                      width: 50%;
                                                                      margin-right: 25%;
                                                                      margin-left: 25%;
                                                                      background: transparent;
                                                                      color: gold;
                                                                      outline:none;""") }}<br>
            {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p style="color:gold" onchange="reshape()">
            {{ form.num_questions.label }}<br>
            {{ form.num_questions(type='number', class="form-control", min=1, max=9999, style="""text-align:center;
                                                                      border: none;
                                                                      border-bottom: 2px solid gold;
                                                                      width: 50%;
                                                                      margin-right: 25%;
                                                                      margin-left: 25%;
                                                                      background: transparent;
                                                                      color: gold;
                                                                      outline:none;""") }}<br>
            {% for error in form.num_questions.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p style="color:gold">
            {{ form.by_id_form.label }}<br>
            {{ form.by_id_form(class="form-control", style="""text-align:center;
                                                                      border: none;
                                                                      border-bottom: 2px solid gold;
                                                                      width: 50%;
                                                                      margin-right: 25%;
                                                                      margin-left: 25%;
                                                                      background: transparent;
                                                                      color: gold;
                                                                      outline:none;""") }}<br>
            {% for error in form.by_id_form.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p style="color:gold">{{ form.is_private() }} {{ form.is_private.label }}</p>
        <p>{{ form.create(type="submit", class="btn btn-primary", style="""text-align:center;
                                                                      border: 2px solid gold;
                                                                      width: 50%;
                                                                      margin-right: 25%;
                                                                      margin-left: 25%;
                                                                      background: transparent;
                                                                      color: gold;
                                                                      outline:none;""") }}</p>
        <div>{{ message }}</div>
    </form>
    <script>
        function shuffle(array) {
            var i = array.length,
                j = 0,
                temp;

            while (i--) {

                j = Math.floor(Math.random() * (i+1));

                // swap randomly chosen element with current element
                temp = array[i];
                array[i] = array[j];
                array[j] = temp;

            }
            return array;
        }
        function reshape() {
            var x = []
            for(var i = 0; i < {{ max_arr }}; i++){
                x.push((i + 1).toString())
            }
            x = shuffle(x).slice(0, document.getElementById('num_questions').value)
            x = x.join(';')
            document.getElementById('by_id_form').value = x;
        }
    </script>
    </div>
{% endblock %}