{% extends "main.html" %}

{% block content %}
    <div class="progress">
      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0"
      aria-valuemin="0" aria-valuemax="60" style="width:100%;background-color: gold; border: none;" id="progress_bar">
        <span class="sr-only"></span>
      </div>
    </div>
    <script>
        var timeleft = 60 + {{ qust.content_len }};
        var downloadTimer = setInterval(function(){
        if(timeleft <= 0){
            clearInterval(downloadTimer);
            pos = parseInt(getCookie("pos")) + 1;
            console.log(pos, "pos=" + pos.toString())
            document.cookie = "pos=" + pos.toString();
            document.location.reload();
        } else {
            document.getElementById("progress_bar").style.width = timeleft / (60 + {{ qust.content_len }}) * 100 + "%";
        }
        timeleft -= 1;
        }, 1000);
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }
    </script>
        <div class="text-center">
            <div class="text-warning">
                <p class="h1">{{ qust.question }}</p>
            </div>
        </div>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="text-center">
                <p>
                    <div class="text-warning bg-dark">
                        {{ form.answer(class="form-control", style="""text-align:center;
                                                                      border: none;
                                                                      border-bottom: 2px solid gold;
                                                                      width: 50%;
                                                                      margin-right: 25%;
                                                                      margin-left: 25%;
                                                                      background: transparent;
                                                                      color: gold;
                                                                      outline:none;""") }}
                    </div>
                    {% for error in form.answer.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
            {% if qust.content_type == 'image' %}
                <img src="{{ qust.path_to_file }}" alt="">
            {% elif qust.content_type == 'mp4' %}
                <video width="320" height="240" controls>
                  <source src="{{ qust.path_to_file }}" type="video/mp4">
                Your browser does not support the video tag.
                </video>
            {% elif qust.content_type == 'mp3' %}
                <audio width="320" height="240" controls>
                  <source src="{{ qust.path_to_file }}" type="video/mp4">
                Your browser does not support the video tag.
                </audio>
            {% endif %}
            </div>
            <div class="text-center">
                <p>
                    {{ form.create(type="submit", style="""text-align:center;
                                                                      border: 2px solid gold;
                                                                      width: 50%;
                                                                      margin-right: 25%;
                                                                      margin-left: 25%;
                                                                      background: transparent;
                                                                      color: gold;
                                                                      outline:none;""") }}
                </p>
            </div>
        </form>
    {% endblock %}