{% extends "main.html" %}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.buy(type="submit", class="btn btn-primary", style="""text-align:center;
                                                                      border: 2px solid gold;
                                                                      width: 50%;
                                                                      margin-top: 25%;
                                                                      margin-right: 25%;
                                                                      margin-left: 25%;
                                                                      background: transparent;
                                                                      color: gold;
                                                                      outline:none;""") }}
    </form>
{% endblock %}
